.info {
  /* display: flex; */
  justify-content: center;
  text-align: center;
  align-content: center;
}
.info--pic {
  width: 317px;
  height: auto;
  border-radius: 10px 10px 0 0;
}

.info--name {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 0;
}

.info--jobtitle {
  font-weight: 400;
  font-size: 12.8px;
  color: #F3BF99;
  margin-top: 3px;
}

.info--website {
  font-weight: 400;
  font-size: 12.24px;
  color: #F5F5F5;
  margin-top: -5px;
}

.info--btn {
  border-radius: 6px;
  border: none;
  width: 17em;
  height: 34px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  margin-left: 12%
}

.info--btn:before {
  content: url('../icon/email-icon.svg');
  padding-right: 10px;
  /* width: 20px; */
  /* float: left; */

}